[Unit]
Description=Run Werewolf Stats maintenance every day

[Timer]
OnCalendar=*-*-* 03:20:00 Asia/Shanghai
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
